# log level can be INFO | NONE | DEBUG
LOG_LEVEL=INFO
# defines the file, in which the ip addresses for each namespace should be stored
IP_CONFIG_FILE=./config/ip_config.cnf

# directory, where the projects are located. Must contain a trailing slash!
PROJECTS_DIRECTORY=./projects/

# Use this file as a global secrets file. If you want to use different secrets for each project, comment this line.
# If this line is commented, then the secrets will be stored under PROJECTS_DIRECTORY/secrets.sh.enc
GLOBAL_SECRETS_FILE=./projects/default/secrets.sh